using Aspire.Hosting;

namespace AppHost;

public static class DatabaseExtensions
{
    public static IResourceBuilder<PostgresServerResource> AddDatabase(this IDistributedApplicationBuilder builder)
    {
        return builder.AddPostgres("myapp-db");
    }
}

