using Aspire.Hosting;

namespace AppHost;

public static class {{ProjectName}}Extensions
{
    public static IResourceBuilder<ProjectResource> Add{{ProjectName}}(this IDistributedApplicationBuilder builder)
    {
        return builder.AddProject("{{projectName}}", "../{{ProjectName}}/{{ProjectName}}.csproj");
    }
}

